/* Use REMs with a pixel fallback for font sizing. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/base\/_lists\.scss}line{font-family:\000031}}
ul {
  list-style: none;
  padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/base\/_lists\.scss}line{font-family:\000034}}
  ul li {
    list-style: none;
    padding-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  max-height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/base\/_typography\.scss}line{font-family:\000031}}
p, a {
  font-size: 14px;
  font-size: 0.875rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000325}}
.l-page {
  background: #B2ecf0f1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000328}}
.l-branding {
  width: 57.62712%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000331}}
.panels-flexible-region-1-center {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000335}}
.l-content .main-menu {
  margin: 80px 0 15px 0;
  background: #ed1c24;
  display: block;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000340}}
  .l-content .main-menu .pane-title {
    font-size: 16px;
    font-size: 1rem;
    background: #ed1c24;
    color: #ecf0f1;
    text-align: center;
    padding: 8px 15px;
    cursor: pointer;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000349}}
  .l-content .main-menu ul {
    background: #ed1c24;
    margin: -15px 0 0 0;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000353}}
    .l-content .main-menu ul li {
      display: block;
      text-align: center;
      padding: 8px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000359}}
  .l-content .main-menu a {
    color: #ecf0f1;
    padding: 10px 40px;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000365}}
.l-content #second-main-menu {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000370}}
#web-banner img {
  width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000375}}
#feat-proj {
  background: #ed1c24;
  color: #ecf0f1;
  padding: 20px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000379}}
  #feat-proj .pane-title {
    font-size: 16px;
    font-size: 1rem;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000383}}
  #feat-proj img {
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000386}}
  #feat-proj a {
    font-size: 18px;
    font-size: 1.125rem;
    color: #ecf0f1;
    padding-top: 30px;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000393}}
#about-us {
  padding: 50px 10px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\0000394}}
  #about-us .pane-title {
    font-size: 40px;
    font-size: 2.5rem;
    color: #ed1c24; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003101}}
#web-banner {
  background: url(../images/webBanner.png);
  background-size: cover;
  -moz-background-size: cover;
  background-position: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003107}}
.panels-flexible-row-1-1-inside {
  background: #2c3e50;
  padding: 50px 20px;
  color: #ecf0f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003112}}
  .panels-flexible-row-1-1-inside #contact .pane-title {
    font-size: 20px;
    font-size: 1.25rem;
    color: #1ced53; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003116}}
  .panels-flexible-row-1-1-inside #contact a {
    color: #ecf0f1;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003122}}
  .panels-flexible-row-1-1-inside #quickemail-field .pane-title {
    font-size: 20px;
    font-size: 1.25rem;
    color: #1ced53; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003126}}
  .panels-flexible-row-1-1-inside #quickemail-field input, .panels-flexible-row-1-1-inside #quickemail-field textarea {
    color: #2c3e50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003129}}
  .panels-flexible-row-1-1-inside #quickemail-field .email-field, .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
    width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003132}}
  .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
    resize: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003136}}
  .panels-flexible-row-1-1-inside .panels-flexible-column-1-3, .panels-flexible-row-1-1-inside .panels-flexible-column-1-2 {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003140}}
.panels-flexible-region-1-footer {
  padding: 0px;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003143}}
  .panels-flexible-region-1-footer .pane-title {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003147}}
.panels-flexible-1 .panels-flexible-row {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003150}}
#footer {
  padding: 20px 0;
  background: #2c3e50;
  color: #ecf0f1;
  text-align: center; }

@media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003159}}
  .l-content .main-menu {
    margin: 100px 0 -15px 0;
    background: #ed1c24;
    display: block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003164}}
    .l-content .main-menu .pane-title {
      font-size: 16px;
      font-size: 1rem;
      background: #ed1c24;
      color: #ecf0f1;
      text-align: center;
      padding: 8px 15px;
      cursor: pointer;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003173}}
    .l-content .main-menu ul {
      background: #ed1c24;
      margin: -15px 0 0 0;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003177}}
      .l-content .main-menu ul li {
        display: block;
        text-align: center;
        padding: 8px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003183}}
    .l-content .main-menu a {
      color: #ecf0f1;
      padding: 10px 40px;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003189}}
  .l-content #second-main-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003193}}
  #about-us {
    padding: 50px 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003194}}
    #about-us .pane-title {
      font-size: 40px;
      font-size: 2.5rem;
      color: #ed1c24; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003201}}
  #feat-proj {
    background: #ed1c24;
    color: #ecf0f1;
    padding: 20px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003205}}
    #feat-proj .pane-title {
      font-size: 16px;
      font-size: 1rem;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003209}}
    #feat-proj img {
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003212}}
    #feat-proj a {
      font-size: 18px;
      font-size: 1.125rem;
      color: #ecf0f1;
      padding-top: 30px;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003221}}
  .panels-flexible-row-1-1-inside #quickemail-field .email-field, .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
    color: #2c3e50;
    width: 80%; } }
@media (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003230}}
  .l-content .main-menu {
    margin: 100px 0 -15px 0;
    background: #ed1c24;
    display: block;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003235}}
    .l-content .main-menu .pane-title {
      font-size: 16px;
      font-size: 1rem;
      background: #ed1c24;
      color: #ecf0f1;
      text-align: center;
      padding: 8px 15px;
      cursor: pointer;
      display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003244}}
    .l-content .main-menu ul {
      background: #ed1c24;
      margin: -15px 0 0 0;
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003248}}
      .l-content .main-menu ul li {
        display: block;
        text-align: center;
        padding: 8px 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003254}}
    .l-content .main-menu a {
      color: #ecf0f1;
      padding: 10px 40px;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003260}}
  .l-content #second-main-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003264}}
  #about-us {
    padding: 50px 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003265}}
    #about-us .pane-title {
      font-size: 40px;
      font-size: 2.5rem;
      color: #ed1c24; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003272}}
  #feat-proj {
    background: #ed1c24;
    color: #ecf0f1;
    padding: 20px 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003276}}
    #feat-proj .pane-title {
      font-size: 16px;
      font-size: 1rem;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003280}}
    #feat-proj img {
      padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003284}}
    #feat-proj a {
      font-size: 18px;
      font-size: 1.125rem;
      color: #ecf0f1;
      padding-top: 30px;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003293}}
  .panels-flexible-row-1-1-inside #quickemail-field .email-field, .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
    color: #2c3e50;
    width: 80%; } }
@media (min-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003302}}
  .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003306}}
  .l-content .main-menu {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003309}}
  .l-content #second-main-menu {
    display: block;
    margin-top: 130px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003312}}
    .l-content #second-main-menu .pane-title {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003315}}
    .l-content #second-main-menu ul {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003317}}
      .l-content #second-main-menu ul li {
        display: inline;
        text-align: center;
        padding: 8px 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003323}}
    .l-content #second-main-menu a {
      font-size: 16px;
      font-size: 1rem;
      color: #ed1c24;
      padding: 10px 40px;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003331}}
  #about-us {
    padding: 50px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003332}}
    #about-us .pane-title {
      font-size: 40px;
      font-size: 2.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003338}}
  #feat-proj {
    background: #ed1c24;
    color: #ecf0f1;
    padding: 80px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003342}}
    #feat-proj .pane-title {
      font-size: 40px;
      font-size: 2.5rem;
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003346}}
    #feat-proj img {
      float: left;
      padding: 0 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003350}}
    #feat-proj a {
      font-size: 20px;
      font-size: 1.25rem;
      color: #ecf0f1;
      padding: 40px 40px;
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003357}}
  #web-banner {
    background: url(../images/webBanner.png);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003363}}
  .panels-flexible-row-1-1-inside {
    background: #2c3e50;
    padding: 50px 20px;
    color: #ecf0f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003368}}
    .panels-flexible-row-1-1-inside #contact .pane-title {
      font-size: 40px;
      font-size: 2.5rem;
      text-align: center;
      color: #1ced53; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003375}}
    .panels-flexible-row-1-1-inside #quickemail-field .pane-title {
      font-size: 40px;
      font-size: 2.5rem;
      text-align: center;
      color: #1ced53; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003380}}
    .panels-flexible-row-1-1-inside #quickemail-field .email-field, .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
      color: #2c3e50; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003383}}
    .panels-flexible-row-1-1-inside #quickemail-field .message-textarea-field {
      resize: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003387}}
    .panels-flexible-row-1-1-inside .panels-flexible-column-1-3, .panels-flexible-row-1-1-inside .panels-flexible-column-1-2 {
      width: 49.1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003391}}
  .panels-flexible-region-1-footer {
    padding: 0px;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003394}}
    .panels-flexible-region-1-footer .pane-title {
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003398}}
  .panels-flexible-1 .panels-flexible-row {
    padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/sketchup\/sites\/all\/themes\/sketchup_omega\/sass\/sketchup-omega\.styles\.scss}line{font-family:\00003401}}
  #footer {
    padding: 20px 0;
    background: #2c3e50;
    color: #ecf0f1;
    text-align: center; } }
